/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(0deg, #d2dbdc 40%, #dddbd1 85%, #009688 85%);
}

.container {
    width: 70%;
    min-width: 950px;
    height: 90vh;
    overflow: hidden;
    margin: 5vh 15%;
}

img {
    width: 4rem;
    border-radius: 50%;
    padding: 1rem 0.5rem;
}

i {
    margin: 1rem 0.5rem;
    font-size: 1.3rem;
    color: #b1b1b1;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.top-div {
    background-color: #eaeaea;
    justify-content: space-between;
}

.graytext {
    color: #808080;
    font-size: 0.8rem;
    margin: 0.3rem 0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.options {
    padding-right: 1rem;
}

/* NAVBAR */
nav {
    width: 35%;
    height: 100%;
}

/* Call to action*/
.cta {
    background-color: #8edafc;
}

.cta i {
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    padding: 0.9rem 0.7rem;
}

/* Search input */
.search {
    background-color: #f4f4f4;
}

.search-bar {
    background-color: white;
    margin: 0.4rem;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    height: 2.1rem;
    min-width: calc(100% - 1rem);
}

.search-bar i {
    font-size: 0.8rem;
    min-width: 3rem;
    text-align: center;
}
  
.search-box {
    border: 0;
    border-left: 1px solid #eaeaea;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.5rem;
    min-width: 14rem;
    flex-grow: 1;
}

/* Contact list */
ul {
    height: 79%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

li {
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
}

li:hover {
    background-color: #f4f4f4;
}

.active {
    background-color: #e9ebeb;
}

.active:hover {
    background-color: #e9ebeb;
}

.friend {
    flex-grow: 2;
}

.friend-text {
    flex-grow: 2;
}

.last-msg {
    width: calc(100% - 5px);
}

.last-msg-date {
    align-self: flex-start;
    margin: 0.2rem 0.5rem;
}

/* Main Section */
section {
    width: 65%;
    height: 100%;
    border-left: 2px solid #d8d8d8;
}

.active-chat {
    display: flex;
    flex-direction: column;
    background-image: url(../img/mine.jpg);
    height: calc(100% - 160px);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Chat Balloons commons*/
.row {
    position: relative;
    min-height: fit-content;
    padding: 1rem;
    border-radius: 10px;
    width: 40%;
    margin: 0.5rem 0;
}

.date {
    position: absolute;
    bottom: -3px;
    right: 28px;
}

.fa-check {
    position: absolute;
    bottom: -12px;
    right: 6px;
    font-size: 0.6rem;
    color: #51bbe7;
}

.message {
    padding: 0.2rem 0;
    position: relative;
}

/* Chat Balloons received */
.received {
    background-color: white;
    margin-left: 5rem;
}

.received:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -10px;
	right: auto;
    top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: white transparent transparent transparent;
}

/* Chat Balloons sent */
.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
    margin-right: 5rem;    
}

.sent:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    right: -10px;
	left: auto;
    top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #d5f9ba transparent transparent transparent;
}

/* Dropdown menu */
.fa-chevron-down {
    position: absolute;
    right: 6px;
    top: -6px;
    font-size: 0.8rem;
    display: none;
    z-index: 5;
}

.dropdown {
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px #b1b1b1;
    padding: 0.4rem;
    cursor: pointer;
    z-index: 10;
}

.dropdown div {
    font-size: 0.8rem;
    padding: 0.4rem;
}

.dropdown div:hover {
    background-color: #e9ebeb;
}

.row:hover .fa-chevron-down {
    display: block;
}

/* Writing Bar */
.writing-bar {
    height: 160px;
    background-color: #f3eeea;
}

.writing-bar i {
    color: #6b7376;
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
}

.write-box {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 1.1rem;
    min-width: calc(100% - 12rem);
}